body {

    background-color: rgb(80, 112, 21);

    margin-left: 20%;
    margin-right: 20%;
margin-top: 5%;
margin-bottom: 5%;


}

h1 {


    font-size: 500%;
    margin-bottom: 50%;

}


p {

    font-size: 100%;
    background-color: rgb(145, 124, 79);


}

